[submodule "kernel_platform/common"]
	path = kernel_platform/common
	url = https://github.com/ravindu644/android_kernel_m145f_common.git
[submodule "kernel_platform/msm-kernel"]
	path = kernel_platform/msm-kernel
	url = https://github.com/ravindu644/android_kernel_m145f_msm_kernel.git
